/* ====================== ALL PAGES ===================== */
/* green - #00B944;
	blue - #016FFF; */

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
}

div {
	display: block;
}

/* ================== header =================== */

.navbar-fixed {
	width: 100%;
	background-color: #FFFFFF;
	position: fixed;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
	z-index: 999;
	padding: 13px 0;
	transition: background-color 0.4s ease;
}

.navbar-container {
	max-width: 1280px;
	padding: 0 50px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

/* ===== logo ==== */ 

.header-logowrapper {
	padding: 0;
	margin: 0;
	box-sizing: border-box; /*sets the height and width to match other elements*/
}

.header-logo {
	display: block;
	max-width: 332px;
}

img {
	vertical-align: middle;
	height: auto;
	max-width: 100%;
}

/* ==== navigation apply now button ==== */ 


.nav-button {
	margin-left: 40px;
}

.navapply-button {
	background-color: #00B944;
	color: #FFFFFF;
	border-radius: 40px;
	font-weight: 550;
	padding: 8px 20px;
	align-items: center;
	text-align: center;
	height: 38px;
	font-size: 16px;
	text-decoration: none;
	box-shadow: 0 5px 20px rgb(0 185 68 / 30%);
}

/* ===== navigation menu ===== */ 

.navmenu {
	display: flex;
	margin-left: auto;
	padding-top: 4px;
	align-items: center;
	justify-content: space-between;
}

.navmenu a {
	font-weight: 700;
	text-decoration: none;
	color: #016FFF;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
}

.navmenu-hover {
	display: inline-block;
	position: relative;
	color: #016FFF;
}

.navmenu-hover:before {
	content: '';
	position: absolute; /* place underline below content*/
	width: 100%; 
	transform: scaleX(0); /*scaleX(0) to initially hide the pseudo-element.*/
	height: 3px;
	bottom: -4px;
	left: 0;
	background-color: #016FFF;
	transform-origin: bottom right;
	transition: transform 0.4s ease-out;
}

.navmenu-hover:hover:before {
	transform: scaleX(1);
	transform-origin: bottom left;
	visibility: visible;
}

/* ======================= header end ====================
*
*
*
*
*
======================= footer ======================== */

footer {
	background-color: #016FFF;
	position: relative;
	width: 100%;
	z-index: 100; 
}

.footer-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.footer-container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}



/* ===== footer logo ===== */

.footer-top {
	padding: 30px 0;
}

.footer-logowrapper {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.footer-logo {
	display: block;
	margin-right: 60px;
	padding: 0 30px;
	max-width: 250px;
}

/* ===== footer content ===== */

.footer-middle {
	padding: 0 40px;
	display:flex;
	flex-direction: row;
}

.footer-col {
	width: 33%;
	margin-bottom: 2rem;
	padding-right: 15px;
	clear: right;
}

.footer-col-title {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 650;

}

.footer-text-bold {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 550;
}

.footer-text-normal  {
	color: #FFFFFF;
	font-size: 16px;
}

.footer-hyperlink {

	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

.mapouter{
	position:relative;
	text-align:right;
	height:200px;
	width:300px;
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:200px;width:300px;
}

/* ===== copyright and T&C ===== */

.footer-bottom {
	padding: 30px 0;
}

.footer-copyright {
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	margin: 5px auto;
}

.footer-tnc {
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
}

.footer-tnc a{
	text-decoration: underline;
	color: #FFFFFF;
}

/* =================== footer end  ======================== */

/* =========== APPLY BUTTON ============ */

.apply-button {
	background-color: #00B944;
	color: #FFFFFF;
	border-radius: 40px;
	font-weight: 600;
	padding: 10px 20px;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	width: 300px;
	height: 28px;
	font-size: 16px;
	text-decoration: none;
	box-shadow: 0 5px 20px rgb(0 185 68 / 30%);
}


/*==================== HOME PAGE ========================= */

/* ==== hero header ==== */

.heroheader {
	padding: 115px 0 110px;
	background: #016FFF;
	color: #FFFFFF;
	width: 100%;
	height: 400px;
	position: relative;
}

.heroheader-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.heroheader-container {
	padding: 0 40px;
	display: flex;
	flex-direction: row;
}

.heroheader-title {
	margin-right: 20px;
	margin-left: 120px;
	margin-top: 50px;
	margin-bottom: 10px;
	z-index: 30;
	width: 50%;
	clear: right;
}

h1 {
	font-size: 40px;
    line-height: 60px;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 10px;
	clear: right;
}

.form-wrap {
	margin: 30px 30px 30px 0;
	padding: 0;
	width: 40%;
	z-index: 30;
}

.form-container {
	height: 500px;
	width: 450px;
}

.form-content {
	max-width: 450px;
	margin: 0 auto;
	padding: 0 30px;	
}

@media screen and (max-wdith: 1280px)
.heroheader-bg {
	bottom: -5px;
}

.animate {
	transition: visibility 1s ease, opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
}

.heroheader-decor1 {
	background: #FFFFFF;
	background-image: linear-gradient(183deg, #f4f5fa 0%, #FFFFFF 91%);
	border-radius: 44px;
	width: 520px;
	height: 88px;
	position: absolute;
	top: 350px;
	right: calc((100% - 1600px) / 2);
	bottom: 120px;
	z-index: 2;
	transform: rotate(-45deg) !important;
}

.heroheader-decor2 {
	background: #016FFF;
	background-image: linear-gradient(183deg, #5cf7e2 0%, #016FFF 91%);
	border-radius: 44px;
	width: 280px;
	height: 88px;
	position: absolute;
	right: calc((100% - 1650px) / 2);
	top: 400px;
	bottom: 120px;
	z-index: 2;
	transform: rotate(-45deg) !important;
}

.heroheader-decor3 {
	background: #016FFF;
	background-image: linear-gradient(183deg, #5cf7e2 0%, #016FFF 91%);
	border-radius: 80px;
	width: 520px;
	height: 150px;
	position: absolute;
	top: 230px;
	left: calc((100% - 1900px) / 2);
	bottom: 120px;
	z-index: 2;
	transform: rotate(-45deg) !important;
}

.heroheader-decor4 {
	background: #016FFF;
	background-image: linear-gradient(183deg, #5cf7e2 0%, #016FFF 91%);
	border-radius: 44px;
	width: 280px;
	height: 88px;
	position: absolute;
	left: calc((100% - 1500px) / 2);
	top: 400px;
	bottom: 120px;
	z-index: 2;
	transform: rotate(-45deg) !important;
}

/* ============ why choose =========== */
.choose-sec {
	padding: 80px 0 80px;
	background: #f4f5fa;
	color: #273152;
	width: 100%;
	height: 650px;
	position: relative;
}

.choose-sec-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.choose-sec-container {
	padding: 0 40px;
}

.choose-heading {
	font-size:	38px;
	padding: 0 0 0 30px;
	text-align: center;
}

.choose6-container {
	margin-top: 50px;
	padding-left: 80px;
	content-align: center;
}

.choose6-cards {
	grid-template-columns: auto auto auto;
	gap: 80px 400px;
	width: 100%;
	content-align: center;
}

.choose6-card {
	text-align: center;
    max-width: 320px;
    display: inline-block;
    width: 100%;
    margin: 30px auto;
}

.choose6-card-icon {
    min-height: 84px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: flex-end;
}

.choose6-card-icon img {
	width: 80px;
}

.choosetext {
	font-size: 18px;
}

.choosetextsmall {
	color: #8490a5;
	font-size: 13px;
}

/* ======= loan service ======= */

.loanservice {
	padding: 80px 0 80px;
	background: #FFFFFF;
	color: #273152;
	width: 100%;
	height: 650px;
	position: relative;
}

.loanservice-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.loanservice-container {
	padding: 0 40px;
}

.swiper-container {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}

.loans-swiper {
	padding-top: 50px;
	padding-bottom: 35px;
	position: relative;
}

.swiper-container-point {
	touch-action: pan-y;
}

.swiper-prev {
	cursor: pointer;
    position: absolute;
    width: 380px;
    height: 320px;
    top: 50px;
    background: linear-gradient(90deg,#fff 11.98%,hsla(0,0%,100%,0));
    z-index: 10;
	left: -1px;
}

.swiper-next {
    cursor: pointer;
    position: absolute;
    width: 380px;
    height: 320px;
    top: 50px;
    background: linear-gradient(90deg,#fff 11.98%,hsla(0,0%,100%,0));
    z-index: 10;
	right: -1px;
}

.swiper-wrapper {
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
	transition-duration: 0ms;
    transform: translate3d(-1600px, 0px, 0px);
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform, -webkit-transform;
	width: 380px;
    margin-right: 20px;
}

/* ========= 3 easy steps ===========*/

.steps {
	padding: 80px 0 80px;
	background: #016FFF;
	color: #FFFFFF;
	width: 100%;
	height: 750px;
	position: relative;
}

.stepswrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.stepscontainer {
	padding: 0 40px;
}

.steps-heading {
	font-size:	38px;
	padding: 0 0 0 30px;
	color: #FFFFFF;
	text-align: center;
}


.steps-col-box {
	max-width: 800px;
    margin: 80px auto;
}


.steps-col {
	margin-bottom: 43px;
    width: 340px;
    padding-left: 85px;
    margin-left: auto;
    position: relative;
	/*visibility: visible;
    animation-name: fadeInUp;*/
}

.steps-col:nth-child(2n) {
    text-align: right;
    padding-left: 0;
    padding-right: 80px;
    margin-left: 0;
}


.steps-col-list:before {
	content: "";
    width: 2px;
    height: 265px;
    border: 1.5px dashed #FFFFFF;
    position: absolute;
	transform: translateX(12160%) translateY(-50%);
    left: 23px;
    top: 50%;
	z-index: 1;
}

.steps-col:last-child {
    margin-bottom: 30px;
	padding-bottom: 20px;
}

.steps-col:last-child:after {
    margin-bottom: 0px;
}

.steps-col:nth-child(2n):after {
    left: 399px;
    right: 23px;
}


.steps-col-icon {
	background: #FFFFFF;
    border: 1.5px solid #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.steps-col:nth-child(2n) .steps-col-icon {
    left: 375px;
    right: 0;
}

.view-btn {
    background-color: #00B944;
    display: block;
    margin: 80px auto 0;
    border-radius: 44px;
    width: 280px;
    height: 50px;
    line-height: 48px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
	text-decoration: none;
	box-shadow: 0 5px 20px rgb(0 185 68 / 30%);
}

/* ============ REVIEWS ========== */

.review {
	padding: 80px 0 80px;
	background: #ffffff;
	color: #273152;
	width: 100%;
	height: 600px;
	position: relative;
}

.reviewwrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.reviewcontainer {
	padding: 0 40px;
}

.review-col-box {
	display: flex;
	padding-top: 30px;
	padding-left: 30px;
	max-width: 1280px;
	align-items: center;
}

.review-col {
	width: 31.3%;
	height: 470px; /* change accordingly */
    margin-right: 3%;
    background: #FFFFFF;
	align-items: center;
}

.review-col-img {
	width: 300px;
	height: 300px;
	background-color: #016FFF;
	border-radius: 30px;
	padding-left: 20px;
	text-align: left;
	color: #ffffff;
}

.review-quote {
	padding-top: 20px;
	width: 80px;
	height: 80px;
}

.review-col-content {
	padding: 0px 20px 20px;
	color: #000000;
}

.review-col-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	vertical-align: middle;
}

.review-col-info {
    display: flex;
	justify-content: flex-end;
	padding: 50px 0 10px;
	text-decoration: none;
}

.review-pic {
	display: flex;
    width: 50px;
    height: 50px;
    border: 5px solid #016FFF;
    border-radius: 100%;
    text-align: center;
    line-height: 38px;
    font-weight: bold;
    font-size: 14px;
	flex: right;
    color: #016FFF;
	text-decoration: none;
}

.review-name {
	padding-left: 10px;
}




/* ========= FAQ ========= */

.faq {
	padding: 80px 0 80px;
	background: #f4f5fa;
	color: #273152;
	width: 100%;
	height: 700px;
	position: relative;
}

.faqwrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.faqcontainer {
	padding: 0 40px;
}

.faqsubheading {
	text-align: center;
	padding: 0 0 0 30px;
	font-size: 16px;
	color: #8490a5;
	margin-bottom: 50px;
}

.transition, ul li i:before, ul li i:after{
  transition: all 0.25s ease-in-out;
}

.flipIn, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-bottom: 1px solid #e5e7eb;
}
ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:nth-of-type(4) {
  animation-delay: 1.25s;
}
ul li:nth-of-type(5) {
  animation-delay: 1.5s;
}
ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #016FFF; /* #ff6873; */
  width: 3px;
  height: 9px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
/*
.mt-20px {
    margin-top: 20px!important;
}

.accordion {
    border-bottom: 1px solid #e5e7eb;
    text-align: initial;
    transition: box-shadow .2s ease;
}

.accordion:active {
	border-bottom: 1px solid #016FFF;
}

.text-lg-lg {
    font-size: 20px;
}

.accordion-header {
    padding: 30px 0 32px;
	min-height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.accordion-header:after {
    content: "";
    position: absolute;
    top: 37px;
    width: 14px;
    height: 14px;
    background-image: url(assets/icons/plus.png);
    background-repeat: no-repeat;
    background-position: 50%;
	right: 20px;
    display: block;
}

.acccordion:active .accordion-header:after {
    background-image: url(assets/icons/minus.png);
}

.accordion-title {
	font-size: 18px;
}

.accordion-body {
    padding: 0 54px 0 0;
    overflow: hidden;
    -webkit-transition: all .2s ease,margin 0s;
    transition: all .2s ease,margin 0s;
    margin-top: -10px;
}

.accordion-body:active {
	padding-bottom: 22px;
}

/* ========= ARTICLES ========== */

.article {
	padding: 80px 0 80px;
	background: #FFFFFF;
	color: #000000;
	width: 100%;
	height: 650px;
	position: relative;
}

.articlewrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.articlecontainer {
	padding: 0 40px;
	align-content: center;
}


.article-col-box {
	display: flex;
	padding-top: 30px;
	padding-left: 20px;
	max-width: 1280px;
	align-items: center;
}

.article-col {
	width: 31.3%;
    margin-right: 3%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
    background: #FFFFFF;
}

.article-col-img {
	width: 340px;
	height: 199px;
}

.article-col-content {
	padding: 0px 30px 20px;
	color: #000000;
}

.article-col-info {
    display: flex;
	justify-content: flex-end;
	padding: 20px 0 10px;
	text-decoration: none;
}

.read-btn {
	display: block;
    width: 100px;
    height: 40px;
    border: 1px solid #016FFF;
    border-radius: 50px;
    text-align: center;
    line-height: 38px;
    font-weight: bold;
    font-size: 14px;
	flex: right;
    color: #016FFF;
	text-decoration: none;
}




/* =================== APPLY NOW PAGE ==================== */



/* =================== TYPES OF LOANS PAGE ==================== */


.loan-wrapper {
	max-width: 1280px;
	
}

.loan-container {
	height: auto;	
	
}

.loan-title {
	color: #FFFFFF;
	font-weight: bold;
	padding: 40px 40px 10px;

}

.loan-nav {

	background-color: #016FFF;
	position: fixed;
	height:	900px;
	padding-top: 70px;
	width: 25%;
}

.loan-nav a{
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	padding: 10px 40px 10px;
	
}


.loan-types-wrapper {
	width: 1000px;
	background-color: #FFFFFF;
	position: relative;
	margin-left: 25%;
	padding-left: 15%;

	
}

.loan-types-content-left {
	height: 612px;
	padding-top: 150px;
	width: 80%;
}

.loan-types-content-right {
	height: 612px;
	padding-top: 150px;
	width: 80%;
}

.loan-types-content-left p {
	padding-right: 50px;

}

.loan-types-content-right p {
	padding-left: 50px;

}

.apply-btn {
	display: block;
    width: 100px;
    height: 40px;
    border: 1px solid #016FFF;
    border-radius: 50px;
    text-align: center;
    line-height: 38px;
    font-weight: bold;
    font-size: 14px;
	flex: right;
    color: #016FFF;
	text-decoration: none;
	margin-top: 15px;
}