/* ====================== ALL PAGES ===================== */
/* green - #00B944;
	blue - #016FFF; */

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Noto Sans', sans-serif;
}

div {
	display: block;
}

/* ================== header =================== */

.navbar-fixed {
	width: 100%;
	background-color: #FFFFFF;
	position: fixed;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
	z-index: 999;
	padding: 13px 0;
	transition: background-color 0.4s ease;
}

.navbar-container {
	max-width: 1280px;
	padding: 0 50px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

/* ===== logo ==== */ 

.header-logowrapper {
	padding: 0;
	margin: 0;
	box-sizing: border-box; /*sets the height and width to match other elements*/
}

.header-logo {
	display: block;
	max-width: 332px;
}

img {
	vertical-align: middle;
	height: auto;
	max-width: 100%;
}

/* ==== navigation apply now button ==== */ 


.nav-button {
	margin-left: 40px;
}

.navapply-button {
	background-color: #016FFF;
	color: #FFFFFF;
	border-radius: 40px;
	font-weight: 600;
	padding: 8px 20px;
	align-items: center;
	text-align: center;
	height: 36px;
	font-size: 16px;
	text-decoration: none;
	box-shadow: 0 5px 20px rgb(1 111 255 / 30%);
}

/* ===== navigation menu ===== */ 

.navmenu {
	display: flex;
	margin-left: auto;
	padding-top: 4px;
	align-items: center;
	justify-content: space-between;
}

.navmenu a {
	font-weight: 700;
	text-decoration: none;
	color: #016FFF;
	margin-left: 15px;
	margin-right: 15px;
	padding: 0;
}

.navmenu-hover {
	display: inline-block;
	position: relative;
	color: #016FFF;
}

.navmenu-hover:before {
	content: '';
	position: absolute; /* place underline below content*/
	width: 100%; 
	transform: scaleX(0); /*scaleX(0) to initially hide the pseudo-element.*/
	height: 3px;
	bottom: -4px;
	left: 0;
	background-color: #016FFF;
	transform-origin: bottom right;
	transition: transform 0.4s ease-out;
}

.navmenu-hover:hover:before {
	transform: scaleX(1);
	transform-origin: bottom left;
	visibility: visible;
}

/* ======================= header end ====================
*
*
*
*
*
======================= footer ======================== */

footer {
	background-color: #016FFF;
	position: relative;
	width: 100%;
	z-index: 100; 
}

.footer-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.footer-container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}



/* ===== footer logo ===== */

.footer-top {
	padding: 30px 0;
}

.footer-logowrapper {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.footer-logo {
	display: block;
	margin-right: 60px;
	padding: 0 30px;
	max-width: 250px;
}

/* ===== footer content ===== */

.footer-middle {
	padding: 0 40px;
	display:flex;
	flex-direction: row;
}

.footer-col {
	width: 33%;
	margin-bottom: 2rem;
	padding-right: 15px;
	clear: right;
}

.footer-col-title {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 650;

}

.footer-text-bold {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 550;
}

.footer-text-normal  {
	color: #FFFFFF;
	font-size: 16px;
}

.footer-hyperlink {

	color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

.mapouter{
	position:relative;
	text-align:right;
	height:200px;
	width:300px;
}

.gmap_canvas {
	overflow:hidden;
	background:none!important;
	height:200px;width:300px;
}

/* ===== copyright and T&C ===== */

.footer-bottom {
	padding: 30px 0;
}

.footer-copyright {
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	margin: 5px auto;
}

.footer-tnc {
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
}

.footer-tnc a{
	text-decoration: underline;
	color: #FFFFFF;
}

/* =================== footer end  ======================== */


/*==================== HOME PAGE ========================= */

/* ==== hero header ==== */

.heroheader {
	padding: 115px 0 110px;
	background: #016FFF;
	color: #FFFFFF;
	min-height: 380px;
	position: relative;
}

.heroheader-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}

.heroheader-container {
	padding: 0 40px;
	display: flex;
	flex-direction: row;
}

.heroheader-title {
	margin-right: 30px;
	margin-left: 90px;
	margin-top: 50px;
	margin-bottom: 10px;
	z-index: 30;
	width: 60%;
	clear: right;
}

h1 {
	font-size: 40px;
    line-height: 60px;
    font-weight: 550;
    margin-top: 10px;
    margin-bottom: 10px;
	clear: right;
}

.form-wrap {
	margin: 30px 30px 30px 30px;
	padding: 0;
	width: 40%;
	z-index: 30;
}

.form-container {
	background-color: #FFFFFF;
	border-radius: 30px;
	height: 500px;
	width: 450px;
	box-shadow: 0 5px 20px rgb(90 217 172 / 30%);
}

.form-content {
	max-width: 450px;
	margin: 0 auto;
	padding: 0 30px;	
}

@media screen and (max-wdith: 1280px)
.heroheader-bg {
	bottom: -5px;
}

.animate {
	transition: visibility 1s ease, opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
}

.heroheader-decor1 {
	background: #00B944;
	background-image: linear-gradient(183deg, #5cf7e2 0%, #00B944 91%);
	border-radius: 44px;
	width: 800px;
	height: 88px;
	position: absolute;
	top: 350px;
	right: calc((100% - 1600px) / 2);
	bottom: 120px;
	z-index: 2;
	transform: rotate(-45deg) !important;
}

.heroheader-decor2 {
	background: #00B944;
	background-image: linear-gradient(183deg, #5cf7e2 0%, #00B944 91%);
	border-radius: 44px;
	width: 280px;
	height: 88px;
	position: absolute;
	right: calc((100% - 1300px) / 2);
	top: 400px;
	bottom: 120px;
	z-index: 2;
	transform: rotate(-45deg) !important;
}

.heroheader-decor3 {
	background: #00B944;
	background-image: linear-gradient(183deg, #5cf7e2 0%, #00B944 91%);
	border-radius: 80px;
	width: 520px;
	height: 150px;
	position: absolute;
	top: 230px;
	left: calc((100% - 1900px) / 2);
	bottom: 120px;
	z-index: 2;
	transform: rotate(-45deg) !important;
}

.heroheader-decor4 {
	background: #00B944;
	background-image: linear-gradient(183deg, #5cf7e2 0%, #00B944 91%);
	border-radius: 44px;
	width: 280px;
	height: 88px;
	position: absolute;
	left: calc((100% - 1500px) / 2);
	top: 400px;
	bottom: 120px;
	z-index: 2;
	transform: rotate(-45deg) !important;
}


/* =================== APPLY NOW PAGE ==================== */



/* =================== TYPES OF LOANS PAGE ==================== */


.loan-wrapper {
	max-width: 1280px;
}

.loan-container {
	height: auto;
	display: flex;

	
}

.loan-title {
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px 20px 10px;

}

.loan-nav {
	width: 400px;
	background-color: #016FFF;
	
	float: left;
	
	
}

.loan-nav a{
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	padding: 10px 20px 10px;
	
}

.loan-types {
	width: 1000px;
	background-color: #FFFFFF;
	float: left;
}

.loan-desc {
	height: 600px;
}